cloudpathlib
cloudpickle
fastapi
keras
lime
matplotlib
matplotlib-inline
nltk
numpy
pandas
pydantic
regex
requests
Sastrawi
scikit-learn
scipy
seaborn
sklearn-compat
spacy
tensorflow
tokenizers
uvicorn
wordcloud